### METHODS

In [ ]:
my_list = [1,2,3]

In [3]:
my_list.append(4)

In [4]:
my_list

[1, 2, 3, 4]

In [5]:
my_list.pop()

4

In [6]:
my_list

[1, 2, 3]

In [9]:
help(my_list.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [10]:
my_list.insert(0,1)

### FUNCTIONS

In [11]:
def add_function(a,b):
    return a+b

In [12]:
result = add_function(3,5)

In [13]:
print(result)

8

In [18]:
def name_function():
    
    '''
    DOCSTRING: Information about the function
    Input: no input ...
    Output: Hello
    '''
    print("Hello")

In [15]:
name_function()

Hello

In [19]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    Input: no input ...
    Output: Hello

In [22]:
def say_hello(name):
    print('Hello '+name)

In [23]:
say_hello('Keba')

Hello Keba

In [24]:
def say_hello(name='Name'):
    print('Hello '+name)

In [25]:
say_hello()

Hello Name

In [26]:
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [27]:
dog_check('With my dog, so good')

True

In [29]:
'dog' in 'dog ran away'

True

In [30]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [31]:
dog_check('With my dog, so good')

True

In [32]:
def pig_latin(word):
    first_letter = word[0]
    
    if first_letter in 'aieou':
        pig_word = word+'ay'
    else:
        pig_word = word[1:]+first_letter+'ay'
    return pig_word

In [33]:
pig_latin('mangoes')

'angoesmay'

In [34]:
pig_latin('apple')

'appleay'

### ARGS AND KWARGS

In [35]:
def myfunc(a,b):
    # retourne 5% de la somme de a + b
    return sum((a,b)) * 0.05

In [36]:
myfunc(40,60)

5.0

In [37]:
def myfunc(a,b,c=0,d=0,e=0):
    # retourne 5% de la somme de a + b
    return sum((a,b,c,d,e)) * 0.05

In [39]:
myfunc(40,60,100,100)

15.0

### args retourne un tuple d'arguments

In [40]:
def myfunc(*args):
    return sum(args) * 0.05

In [42]:
myfunc(60,40,100,100,1,34)

16.75

In [43]:
def myfunc(*args):
    print(args)

In [44]:
myfunc(10,60,45,21)

(10, 60, 45, 21)

In [47]:
def myfunc(*args):
    for item in args:
        print(item)

In [48]:
myfunc(10,60,45,21)

10
60
45
21

### kwargs arguments retourne un dictionnaire

In [53]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [54]:
myfunc(fruit='apple', veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [61]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [62]:
myfunc(10,20,20,fruit='apple', food='burger', animal='dog')

(10, 20, 20)
{'fruit': 'apple', 'food': 'burger', 'animal': 'dog'}
I would like 10 burger

### Exercices et corrections

Exercice 1: Ecrire une fonction qui retourne le plus petit des deux nombres sont pairs, mais renvoie le plus grand si un ou les deux nombres sont impairs

In [1]:
def less_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
less_of_two_evens(2,4)

2

In [3]:
less_of_two_evens(2,5)

5

Exercice 2: Ecrire une fonction qui prend une chaine de deux mots et renvoie True si les deux ots commencent par la meme lettre

In [7]:
def animal_crackers(text):
    words = text.lower().split()
    print(words)
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [8]:
animal_crackers('text tata')

['text', 'tata']

True

In [9]:
animal_crackers('text fata')

['text', 'fata']

False

Exercices 3: Donner deux nombres, retourne True si la somme des nombres entiers est 20 ou si l'un des nombres entiers est 20. Sinon, retourne False

In [14]:
def makes_twenty(n1,n2):
    if (n1+n2) == 20 or n1==20 or n2==20:
        return True
    else:
        return False

In [17]:
makes_twenty(12,8)

True

In [18]:
makes_twenty(20,8)

True

In [19]:
makes_twenty(17,8)

False

Exercice 4: Ecrire une fonction qui met en majuscule la première et la quatrième lettre du mot

In [20]:
def old_macdonald(name):
    firstletter = name[0]
    between =name[1:3]
    fourthletter= name[3]
    rest = name[4:]
    return firstletter.upper()+between+fourthletter.upper()+rest

In [22]:
old_macdonald('macdonald')

'MacDonald'

### Nb: nous pouvons écrire la fonction d'une autre maniere

In [1]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize()+second_half.capitalize()

In [2]:
old_macdonald('macdonald')

'MacDonald'

Exercice 5: Ecrire une fonction qui prend en parametre du texte et retourne son inverse

In [13]:
def master_yoda(text):
    wordlist = text.split()
    reverse = wordlist[::-1]
    return ' '.join(reverse)

In [14]:
master_yoda('Hello my name is keba')

'keba is name my Hello'

Exercice 6: Ecrire une fonction qui prend en entrée une liste d'entier et retourne True si la liste contient 3 et son suivant est 3.

In [17]:
def has_33(num):
    for i in num:
        if num[i] ==3 and num[i+1] ==3:
            return True
        else:
            return False

In [18]:
has_33([1,3,3])

True

In [19]:
has_33([1,3,5])

False

In [20]:
has_33([1,3,1,3])

False

In [21]:
has_33([1,3,3,1])

True

In [25]:
def has_33(num):
    for i in range(0, len(num)-1):
        if num[i:i+2]==[3,3]:
            return True
    return False

In [26]:
has_33([1,3,3])

True

In [27]:
has_33([1,3,5])

False

In [28]:
has_33([1,3,3,1])

True

Exercice 7: Ecrire une fonction qui prend en entrée une chaine de caractère et retourne le triple de chaque caractère

In [29]:
def paper_doll(text):
    result=''
    
    for char in text:
        result = result + char*3
    return result

In [30]:
paper_doll('Hello')

'HHHeeellllllooo'

Exercice 8: Ecrire une fonction qui prend en entrée trois entiers compris entre 1 et 11, si la somme est des nombres est inférieur ou égal à 21. Si la somme est supérieur à 21 et l'un des nombres est 11 soustrait la somme à 10. Enfin si la somme est supérieur à 21 retourne 'BUST'

In [32]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif sum([a,b,c]) > 21 and 11 in (a,b,c):
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [33]:
blackjack(5,6,7)

18

In [34]:
blackjack(9,9,9)

'BUST'

In [35]:
blackjack(9,9,11)

19

# Lambda Expressions Map and Filter

In [1]:
def square(num):
    return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [4]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'even'
    else:
        return mystring[0]

In [7]:
name = ['Andy', 'Eve', 'Sally']

In [8]:
list(map(splicer,name))

['even', 'E', 'S']

In [9]:
def check_even(num):
    return num%2==0

In [10]:
num = [1,2,3,4,5,6]

In [11]:
list(filter(check_even,num))

[2, 4, 6]

In [12]:
for n in filter(check_even,num):
    print(n)

2
4
6

In [13]:
square(3)

9

In [14]:
square = lambda num: num**2

In [15]:
square(5)

25

In [16]:
list(map(lambda num : num**2,my_nums))

[1, 4, 9, 16, 25]

In [17]:
list(filter(lambda num : num%2==0,my_nums))

[2, 4]

In [18]:
list(map(lambda x : x[0],name))

['A', 'E', 'S']

### Nested Statements and Scope

In [1]:
x = 25

def printer():
    x = 50
    print(x)

In [2]:
print(x)

25

In [4]:
print(printer())

50
None

### LEGB RULE

L: Local: Noms attribués d'une manière quelconque dans une fonction (def ou lambda) et non déclarés globaux dans cette fonction

E: Enclosing function locals: Noms dans l'étendue local de toutes les fonctions englobantes, de l'intérieur à l'extérieur

G: Global module: Noms assignés au début du fichier module ou déclarer global sur la fonction.

B: built-in: Noms préassignés dans le built-in noms module: open, range, SyntaxError...

In [8]:

# Global
name = 'This is a global string'

def greet():
    # Enclosing
    name = 'Sammy'
    
    def hello():
        # Local
        name = 'IM a local'
        print('Hello '+name)
        
    hello()

In [10]:
greet()

Hello IM a local

In [11]:
x = 50

def func(x):
    print(f'X is {x}')

In [12]:
func(x)

X is 50

In [13]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # Local reassignment
    x = 200
    print(f' i change global to loxal in {x}')

In [14]:
func(x)

X is 50
 i change global to loxal in 200

In [15]:
print(x)

50

In [16]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

In [17]:
vol(3)

113.03999999999999

Ecrire une fonction qui virifie si un nombre est dans une intervalle

In [20]:
def ran_check(num,low,high):
    return num in range(low,high)

In [21]:
ran_check(3,5,10)

False

In [22]:
ran_check(5,0,10)

True

Ecrire une fonction qui prend en entrée une chaine de caractère et le nombre de lettres en majuscule et le nombre de lettres en minudcule

In [25]:
def up_low(s):
    d = {"upper":0, "lower":0}
    
    for n in s:
        if n.isupper():
            d["upper"]+=1
        elif n.islower():
            d["lower"]+=1
        else:
            pass
    print ("Original string", s)
    print ("Upper caractères:", d["upper"])
    print ("lower caractères:", d["lower"])

In [27]:
up_low('Hello, Keba Mbaye Diedhiou is my best friend')

Original string Hello, Keba Mbaye Diedhiou is my best friend
Upper caractères: 4
lower caractères: 32

In [35]:
def uniq_list(l):
    x = []
    
    for a in l:
        if a not in x:
            x.append(a)
    return x

In [36]:
uniq_list([1,1,1,2,2,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [37]:
def unique_list(liste):
    return set(liste)

In [38]:
uniq_list([1,1,1,2,2,3,3,3])

[1, 2, 3]